.overview_section {
  min-height: 100svh;
}

.overview_hero_div {
  height: 100vh;
  background: url(../../../public/img/green-silk-theater-curtain.jpeg) no-repeat
    bottom;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview_hero_div h1 {
  color: var(--gold-color);
  font-size: 30px;
  font-family: sansita;
  width: 100px;
  text-align: center;
  line-height: 90%;
}

.overview_hero_div h1 span {
  font-size: 20px;
  display: block;
}

.scroll_btn {
  width: max-content;
  border-radius: 200px;
  border-color: #c2810877;
}
.product_wrapper {
  background: url(../../../public/img/wooden-background2.png) no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  padding: 10% 9%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product_wrapper article {
  display: flex;
  justify-content: center;
  height: max-content;
  margin-bottom: 150px;
  font-family: roboto_slab;
  gap: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .product_wrapper article {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
}

.product_wrapper article img {
  max-height: 400px;
  position: relative;
  z-index: 1;
}

.img_wrapper {
  position: relative;
}

.img_bright {
  background-color: rgba(255, 255, 255, 0.143);
  filter: blur(50px);
  -webkit-filter: blur(50px);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.product_wrapper article h2 {
  color: var(--gold-color);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 15px;
}

.beer_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creator {
  font-size: 25px;
  color: whitesmoke;
  margin-bottom: 20px;
}

.beer_content a {
  background-color: rgba(0, 0, 0, 0.461);
  border: 1px solid #c281088a;
  color: #c28008;
}
