.details_section {
  min-height: 100svh;
  background: url(../../../public/img/wooden-background2.png) no-repeat bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.details_section article {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 60px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
}

.info_wrapper h1 {
  font-family: roboto_slab;
  font-size: clamp(3.4375rem, 3.1684rem + 1.3453vw, 5.3125rem);
  color: var(--gold-color);
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.642);
  line-height: 110%;
  font-weight: 600;
  margin-bottom: 20px;
}
.info_wrapper .sub {
  margin-bottom: 30px;
}

.details_section article img {
  max-height: 70vh;

  position: relative;
  z-index: 1;
}

.info_wrapper {
  font-family: roboto_slab;
  max-width: 450px;
}

.info_wrapper .descr {
  color: white;
  line-height: 190%;
}

.info_wrapper_single {
  display: flex;
  justify-content: space-between;
}

.info_wrapper_single:nth-of-type(2) {
  margin-bottom: 20px;
}

.grey {
  color: #c8c8c8;
}
